In [2]:
list1=["Kalpesh" , "Arpita", "Hritvi"]

In [4]:
print(list1[2])

Hritvi

In [5]:
print(list1[-1:])

['Hritvi']

In [8]:
dict1={1:"Male",2:"Female"}

In [9]:
len(dict1)

2

In [11]:
dict1[1]

'Male'

In [13]:
dict1[1] = "Python"

In [14]:
print(dict1)

{1: 'Python', 2: 'Female'}

In [15]:
dict2={"Python":"Male","Hadoop":"SAS"}

In [16]:
dict2

{'Python': 'Male', 'Hadoop': 'SAS'}

In [17]:
dict2[1]= "Female"

In [20]:
dict2["Python"] = "R Language"

In [22]:
dict2.get("Python")

'R Language'

In [24]:
dict2["Python"]

'R Language'

In [32]:
dict2.pop(1)

KeyError: 1

In [36]:
dict2["KALPES"]="Mahajan"

In [39]:
dict2.pop("KALPES")

KeyError: 'KALPES'

In [47]:
dict2.get("KALPES")

In [50]:
dict3 = dict2.copy()

In [51]:
dict3

{'Python': 'R Language'}

In [54]:
del dict3

NameError: name 'dict3' is not defined

In [61]:
dict3={1:["Kalpesh", "Pappu", "Dadu"],2:["school","Nickname","Respect"]}

In [63]:
dict3

{1: ['Kalpesh', 'Pappu', 'Dadu'], 2: ['school', 'Nickname', 'Respect']}

In [67]:
dict3.get(1,0)

['Kalpesh', 'Pappu', 'Dadu']

In [69]:
dict3[1][0]

'Kalpesh'

In [70]:
type(dict3)

dict

In [73]:
set1={"Red","Blue","Yellow"}

In [76]:
set2={"Green","Orange","purpule"}

In [78]:
set2

{'Green', 'Orange', 'purpule'}

In [81]:
print(set1|set2)#union example

{'purpule', 'Blue', 'Red', 'Green', 'Orange', 'Yellow'}

In [84]:
set1.add("Green")

In [90]:
set3=set1.symmetric_difference(set2)

In [97]:
set2.issubset(set1)

False

In [101]:
set1

{'Blue', 'Green', 'Red', 'Yellow'}

In [102]:
set2

{'Green', 'Orange', 'purpule'}

In [105]:
    set2.difference(set1)

{'Orange', 'purpule'}

In [107]:
t1=("Kalpes","Pandharianth","Mahajan")

In [112]:
t1[-1]

'Mahajan'

In [114]:
l1=list(t1)

In [116]:
l1[1]="P A Mahajan"

In [119]:
t1=tuple(l1)

In [120]:
t1

('Kalpes', 'P A Mahajan', 'Mahajan')

In [124]:
t3=([1,2,3,4,5,6,7,8,9,10])

In [127]:
t3[9]=0

In [130]:
t4=({1:"Kal",2:"Mah",3:"Pan"})

In [131]:
t4

{1: 'Kal', 2: 'Mah', 3: 'Pan'}

In [133]:
t4[1]

'Kal'

In [134]:
#String operations

In [146]:
txt= "My name is Kalpesh and I am {} year old,I have {} years of experience. DOB is {}"
age=30
exp = 7.3
dob=23

In [147]:
print(txt.format(age,exp,dob))

My name is Kalpesh and I am 30 year old,I have 7.3 years of experience. DOB is 23