In [1]:
#
import numpy as np
import pandas as pd

In [2]:
np.finfo(np.float64).max

1.7976931348623157e+308

In [3]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [4]:
A = np.zeros(3,dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [5]:
A.ndim
A.shape

(3,)

In [6]:
np.random.seed(5)
a = np.random.rand(6)
a

array([0.22199317, 0.87073231, 0.20671916, 0.91861091, 0.48841119,
       0.61174386])

In [7]:
data = pd.Series(a,index=['a','b','c','d','e','f'])

In [8]:
data['b']

0.8707323061773764

In [9]:
'a' in data

True

In [10]:
data.keys()

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [11]:
list(data.items())

[('a', 0.22199317108973948),
 ('b', 0.8707323061773764),
 ('c', 0.20671915533942642),
 ('d', 0.9186109079379216),
 ('e', 0.48841118879482914),
 ('f', 0.6117438629026457)]

In [12]:
data.pop('b')

0.8707323061773764

In [13]:
data

a    0.221993
c    0.206719
d    0.918611
e    0.488411
f    0.611744
dtype: float64

In [14]:
print(data['a':'e'])  # Observe E is included 
data[0:4] # 4th column not included in numerical Indexing.

a    0.221993
c    0.206719
d    0.918611
e    0.488411
dtype: float64

a    0.221993
c    0.206719
d    0.918611
e    0.488411
dtype: float64

In [15]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [16]:
Logical_AND = np.logical_and(population , area)
print(Logical_AND)
type(Logical_AND)

California    True
Texas         True
New York      True
Name: population, dtype: bool

pandas.core.series.Series

In [17]:
Logical_AND['California']

True

In [18]:
Logical_AND

California    True
Texas         True
New York      True
Name: population, dtype: bool

In [19]:
A = pd.Series(np.random.randint(1,5,(3)))

In [20]:
A

0    4
1    1
2    3
dtype: int32

In [21]:
B = pd.Series(np.random.randint(5,10,[3]),index=[1,2,3])
B

1    5
2    9
3    6
dtype: int32

In [22]:
A.add(B)

0     NaN
1     6.0
2    12.0
3     NaN
dtype: float64

In [23]:
A+B

0     NaN
1     6.0
2    12.0
3     NaN
dtype: float64

In [24]:
A.add(B,fill_value=0)

0     4.0
1     6.0
2    12.0
3     6.0
dtype: float64

In [25]:
# Trying same operation on Pandas.
Sample = pd.DataFrame(np.arange(0,10))

In [26]:
Sample.iloc[2:8:2,0]

2    2
4    4
6    6
Name: 0, dtype: int32

In [27]:
A = pd.DataFrame(data=np.arange(0,10))
A

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [28]:
B = pd.DataFrame(data=np.arange(10,20))
B

    0
0  10
1  11
2  12
3  13
4  14
5  15
6  16
7  17
8  18
9  19

In [29]:
print(pd.concat([A,B],axis=0))
print("-----------------------------Columns wise concatenate----------------------------------------------")
print(pd.concat([A,B],axis=1))
print("-----------------------------Ignoring Index ----------------------------------------------")
print(pd.concat([A,B],axis=0,ignore_index=True))

    0
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
0  10
1  11
2  12
3  13
4  14
5  15
6  16
7  17
8  18
9  19
-----------------------------Columns wise concatenate----------------------------------------------
   0   0
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19
-----------------------------Ignoring Index ----------------------------------------------
     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19

In [30]:
Dict1 = {"Emp Name":["Kalpesh","Ashish","Siddharth","Krutika","Kaushki"],
          "Years Of Experience":[8,4,5,8,7],
          "Joining Year":[2015,2019,2018,2015,2017]}

In [31]:
Dict2 = { "Name":["Kalpesh","Ashish","Siddharth","Krutika","Abhishek"],
          "Salary": [15,8,9,17,13]
}

In [32]:
DF1 = pd.DataFrame(Dict1)
DF2 = pd.DataFrame(Dict2)
print(DF1,"\n",DF2)

    Emp Name  Years Of Experience  Joining Year
0    Kalpesh                    8          2015
1     Ashish                    4          2019
2  Siddharth                    5          2018
3    Krutika                    8          2015
4    Kaushki                    7          2017
         Name  Salary
0    Kalpesh      15
1     Ashish       8
2  Siddharth       9
3    Krutika      17
4   Abhishek      13

In [39]:
year = 1969
Interm = year//10
Decade = Interm * 10
Decade

1960

In [51]:
list1 = ['TJFE-TLR-SWITCH-TIME-201',
'TJFE-TLR-SWITCH-TIME-210',
'TJFE-TLR-SWITCH-TIME-221',
'TJFE-TLR-SWITCH-TIME-230',
'TJFE-TLR-MESSG-TYPE-2',
'TJFE-TLR-MESSG-TYPE-3',
'TJFE-TLR-SW-SERIAL',
'TJFE-TLR-ATM-PROC',
'TJFE-TLR-CDH-PROC',
'TJFE-TLR-BRAND',
'TJFE-TLR-INTER-TYPE'
]
list1

['TJFE-TLR-SWITCH-TIME-201',
 'TJFE-TLR-SWITCH-TIME-210',
 'TJFE-TLR-SWITCH-TIME-221',
 'TJFE-TLR-SWITCH-TIME-230',
 'TJFE-TLR-MESSG-TYPE-2',
 'TJFE-TLR-MESSG-TYPE-3',
 'TJFE-TLR-SW-SERIAL',
 'TJFE-TLR-ATM-PROC',
 'TJFE-TLR-CDH-PROC',
 'TJFE-TLR-BRAND',
 'TJFE-TLR-INTER-TYPE']

In [56]:
TJFDF = pd.DataFrame(data=list1,index=None,columns=['FieldName'])
TJFDF

                   FieldName
0   TJFE-TLR-SWITCH-TIME-201
1   TJFE-TLR-SWITCH-TIME-210
2   TJFE-TLR-SWITCH-TIME-221
3   TJFE-TLR-SWITCH-TIME-230
4      TJFE-TLR-MESSG-TYPE-2
5      TJFE-TLR-MESSG-TYPE-3
6         TJFE-TLR-SW-SERIAL
7          TJFE-TLR-ATM-PROC
8          TJFE-TLR-CDH-PROC
9             TJFE-TLR-BRAND
10       TJFE-TLR-INTER-TYPE

In [61]:
TJFDF.FieldName.str.startswith('T')

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
Name: FieldName, dtype: bool

In [72]:
np.arange(10,dtype = datetime64)

NameError: name 'datetime64' is not defined

In [75]:
date = pd.to_datetime("4th of July, 2015")
date

Timestamp('2015-07-04 00:00:00')

In [77]:
MyBirthday = pd.to_datetime("23rd June,1990")
MyBirthday.

Timestamp('1990-06-23 00:00:00')

In [83]:
IndexData = MyBirthday + pd.to_timedelta(np.arange(12),'D')
# Time Series studies.
data = pd.Series(data = np.arange(12),index=IndexData)
data

1990-06-23     0
1990-06-24     1
1990-06-25     2
1990-06-26     3
1990-06-27     4
1990-06-28     5
1990-06-29     6
1990-06-30     7
1990-07-01     8
1990-07-02     9
1990-07-03    10
1990-07-04    11
dtype: int32

In [88]:
pd.timedelta_range(0,periods=10,freq='3d')

TimedeltaIndex([ '0 days',  '3 days',  '6 days',  '9 days', '12 days',
                '15 days', '18 days', '21 days', '24 days', '27 days'],
               dtype='timedelta64[ns]', freq='3D')

In [96]:
pd.period_range(start='2017-01',periods=10,freq='M')

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10'],
            dtype='period[M]', freq='M')

In [97]:
from pandas_datareader import data

ModuleNotFoundError: No module named 'pandas_datareader'